.projects{
    padding: 100px;
    justify-content: center;
    height: 100vh;
    display: flex;

    flex-direction: column;
}
h2{
    color: var(--primary-color);
    
} 
.projects h2{
    font-size: 30px;
    margin-bottom: 20px;
    margin-left:70px;
}
.view {
    display: flex;
    align-items: center;
  }
  
.project{
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px;
    padding: 20px;
    
    border-radius: 15px;
    background-color: var(--gray-color);

}

.p{
    max-width: 300px;
    text-align: justify;
}

img{
    width: 300px;
    border-radius: 10px;

    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.19);
}
.tecs{
    display: flex;
    gap: 10px;
}
.tec{
    color:rgb(88, 30, 40);
    width: 20px;
    height: 20px;
}
.button1, .button2{
    max-width: 150px;
    font-size: 15px;
    margin: 5px;
    border-radius: 20px;

    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.311);
    transition: transform 0.2s ease;
}
.button1{
    color: var(--dark-pink);
    background-color: var(--primary-color);

}
.button2{
    color: var(--primary-color);
    background-color: var(--dark-pink);
}

.button1:hover, .button2:hover{
    transform: translateY(-5px);
    box-shadow:  2px 2px 15px 2px rgba(220, 149, 149, 0.092);
}

.sliderContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .carousel{
    max-width: 1200px;
    margin:0 auto;
    position: relative;
  }
  @media (max-width: 1024px) {
    .carousel{
      max-width: 700px;
    }
    .projects { 
      text-align: center;
      align-items: center;
      padding: 0px;
    }
  
    .view {
      flex-direction: column;
      gap: 30px;
      
    }
  
    .project {
      max-width: 80%;
      margin: 0 auto;
      padding: 30px;
    }
  
    img {
      width: 100%;
    }
  
    .p {
      max-width: 100%;
    }
  
    .tecs {
      justify-content: center;
      flex-wrap: wrap;
    }
    .projects h2{
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    
    .projects h2 {
      font-size: 26px;
      margin-left: 0px;
    }
    .projects { 
      text-align: center;
      align-items: center;
      padding: 0px;
      margin: 0px;
    }
    .view{
      gap: 0px;
     
    }
    .project {
      width: 600px;
      padding: 30px;
    }
  
    .button1,
    .button2 {
      font-size: 14px;
      width: 100%;
      max-width: none;
    }
  }
  
  @media (max-width: 480px) {
    .carousel{
      max-width: 80vw;
    }
    .projects h2 {
      font-size: 22px;
      margin-left: 0px;
      width: 100%;
    }
    .projects { 
      text-align: center;
      align-items: center;
      padding: 0px;
      margin: 0px;
    }
    .view{
      gap: 0px;
    }
    .project {
      padding: 20px;
      width: 100%;
    }
    .p{
      font-size: 15px;
    }
    .button1,
    .button2 {
      font-size: 14px;
      width: 100%;
    }
  }
  
  
 
  