header {
    height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow: visible; /* só pra garantir */
  }
  
  .center {
    flex: 1; /* ocupa o espaço disponível */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    max-width: 1000px;
    text-align: left;
  }
  
  .text > h1 {
    color: var(--primary-color);
    font-size: 68px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
  }
  
  .text > h3 {
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.2;
    max-width: 800px;
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 15px 0;
    color: var(--primary-color);
    font-size: 12px;
  
    position: sticky;
    top: 0;
    z-index: 1000;
    background: radial-gradient(circle, rgb(134, 44, 59) 0%, rgb(32, 17, 17) 100%);
    width: 100%;
  }
  nav p {
    transition: transform 0.2s ease;
    font-size: 20px;
  }
  nav p:hover{
    transform: translateY(-5px);
    color: var(--secondary-color);
  }


  